/bin/
/obj/
obj/
*.dll
*.exe
*.pdb
*.dll.config
/.vs/
/.idea/
*.suo
.suo
*.user
*.userprefs
*.vssettings
/logs/
/wwwroot/*.log
/App_Data/Cache/
appsettings.json
appsettings.Development.json
appsettings.*.json
launchSettings.json
*.csproj.user
*.user.props
*.lock.json
*.cache
.sln.ide
*.tmp
*.swp
